
  <div class="container">

    <h1 class="text-center">Stupid Coaching</h1>
    <p class="text-center">Ask your coach anything:</p>

    <form action="answer" data-turbo="false">
        <div class="row">
          <div class="col-9 p-0"><input class ="form-control col-9" type="text" name="question"></div>
          <div class="col-3 p-0">
            <input class = "btn btn-primary" type="submit" value="Ask!"></div>
        </div>
    </form>


  </div>
